* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #0c1438;
  overflow-wrap: anywhere;
}

body,
button {
  background-color: #f6f5f3;
  color: #0c1438;
  font-family: "Didot", serif;
}

main section,
main div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: var(--border-size);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: var(--border-size);
}

header {
  align-items: center;
  border: 0;
  border-bottom: 1px solid #0c1438;
  border-top: 1px solid #0c1438;
  justify-content: center;
  margin: 1em auto 0.5em;
  max-width: 80%;
  overscroll-behavior-x: contain;
  padding: 0.5em 1em;
  text-align: center;
}

main {
  position: relative;
}

a,
li {
  color: #0c1438;
  text-decoration: none;
}

.cardtainer {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  list-style: none;
  margin: 0 auto;
  max-width: 2000px;
  padding: 1em;
}
.cardtainer .card {
  border-bottom: 1px #0c1438 solid;
  border-radius: 1em;
  border-top: 1px #0c1438 solid;
  grid-column-end: span 3;
  padding: 0.5em;
}

@media (max-width: 500px) {
  .cardtainer .card {
    grid-column-end: span 12;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .cardtainer .card {
    grid-column-end: span 6;
  }
}
@media (min-width: 800px) and (max-width: 1440px) {
  .cardtainer .card {
    grid-column-end: span 4;
  }
}
footer {
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 0 0 1em;
  text-align: center;
  width: 80%;
}

.tbaka {
  border: 0;
  border-bottom: 1px solid #0c1438;
  max-width: 10%;
  padding: 0.15em 1em -0.25em;
}

table {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: scroll;
  padding: 0 1em;
}

td a,
button {
  border: 0;
  border-bottom: 1px #0c1438 solid;
  border-radius: 1em;
  padding: 0.25em 0.5em;
}

button {
  border-top: 1px #0c1438 solid;
}
button:hover {
  cursor: pointer;
}
button h2 {
  font-size: 1em;
}

.tafla {
  border-bottom: 1px solid #0c1438;
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  margin: 0 0 1em;
  overflow-wrap: break-word;
  padding: 0.5em 0 1em;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  word-break: break-word;
}
.row :first-child {
  grid-column-end: span 2;
  justify-self: center;
}
.row :last-child {
  grid-column-end: span 2;
  justify-self: center;
}
.row :nth-child(2) {
  grid-column-end: span 3;
}
.row :nth-child(3) {
  grid-column-end: span 1;
  justify-self: center;
}
.row :nth-child(4) {
  grid-column-end: span 2;
  justify-self: center;
}
.row :nth-child(5) {
  grid-column-end: span 2;
}

.td a {
  text-decoration: underline;
  text-decoration-style: solid;
}

@media (min-width: 400px) and (max-width: 800px) {
  .tafla {
    gap: 1.5em;
  }
  .row :first-child {
    grid-column-end: span 3;
  }
  .row :last-child {
    grid-column-end: span 3;
  }
  .row :nth-child(2) {
    grid-column-end: span 6;
  }
  .row :nth-child(3) {
    grid-column-end: span 3;
  }
  .row :nth-child(4) {
    grid-column-end: span 3;
  }
  .row :nth-child(5) {
    grid-column-end: span 6;
  }
}
@media (min-width: 201px) and (max-width: 399px) {
  .tafla {
    gap: 1.5em;
  }
  .row :nth-child(odd) {
    grid-column-end: span 4;
    justify-self: center;
    text-align: center;
  }
  .row :nth-child(even) {
    grid-column-end: span 8;
    justify-self: center;
    text-align: center;
  }
}
@media (min-width: 0) and (max-width: 200px) {
  .row :nth-child(n) {
    grid-column-end: span 12;
    justify-self: center;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
